/* Global */
@font-face {
     font-family: NorseBold;
     src: url("/font/Norse-Bold.otf") format("opentype");
     font-weight:normal;
     font-style:normal;
}

:root {
     --background-tone-color:#596D48;
     --border-color:#E5E7EB;
     --main-text-color:black;
     --logo-size:8rem;
}

img {
     max-width: 100%;
}

body {
     background-color:rgb(221, 221, 221);
     color: var(--main-text-color);
     font-family:Arial, Helvetica, sans-serif;
     font-size:1.1rem;
     line-height:1.2em;
     margin:0;
     padding:0;
}

.container {
     width:80%;
     overflow:hidden;
     margin:auto;
}

/* Main */
#main {
     display:flex;
     height:100vh;
}

/* Left main */
#main-left {
     flex:0 1 35vw;
     background-image: url("images/leaf-background.jpg");
     position:relative;
     text-align:center;
     color:white;
}

.logo {
     padding:0.2rem;
     background-color: rgba(0,0,0, 0.4);
     position:relative;
     left:0;
     right:0;
     margin-left:auto;
     margin-right:auto;
     top:23vh;
     display:flex;
     justify-content: center;
     align-items: center;
}

.logo img{
     height:var(--logo-size);
     vertical-align: baseline;
}

.logo-text {
     font-family: NorseBold;
     font-size:var(--logo-size);
}

#photo-credits {
     position:absolute;
     bottom:0;
     font-size:0.8rem;
     left:0;
     right:0;
     margin-left:auto;
     margin-right:auto;
}

/* Right main */
#main-right {
     flex: 0 1 65vw;
     display:flex;
     flex-direction:column;
     justify-content: center;
}

#main-right > * {
     padding:1rem 2rem;
}

#hook-text {
     font-size:1.5rem;
     line-height:1.6rem;
     width:75%;
}

.create-account-btn {
     width:200px;
     padding:0;
     margin: 1rem 0 0 2rem;
     border-radius:5px;
     border:none;
     background-color:var(--background-tone-color);
     color:white;
     font-size:1rem;
     font-weight: bolder;
}

.btn:hover {
     opacity:0.7;
}

.btn:active {
     transform:scale(1.05);
}

#log-in {
     padding-top:0;
}

#log-in > a {
     color:var(--background-tone-color);
     text-decoration:none;
}

/* Form */
#main-form {
     background:white;
     display:flex;
     flex-wrap:wrap;
     gap:2px;
     row-gap:5px;
     padding-bottom:2rem;
}

#main-form h2 {
     margin-top:0.2rem;
     width:100%;
}

#main-form div {
     flex:0 1 45%;
}


#main-form label {
     color:grey;
     font-weight:bolder;
     font-size:0.6rem;
     letter-spacing:0.1rem;
}

#main-form input {
     border:var(--border-color) 1.5px solid;
     border-radius: 5px;
     width:20vw;
     display:block;
     box-sizing:border-box;
     padding:10px;
     margin:0;
     font-size:1rem;
     background-color:rgb(250, 250, 250);
}

#main-form input:focus {
     border: steelblue 1.5px solid;
     outline:none;
}

