/* Global */
@font-face {
     font-family: NorseBold;
     src: url("/font/Norse-Bold.otf") format("opentype");
     font-weight:normal;
     font-style:normal;
}

:root {
     --background-tone-color:#596D48;
     --border-color:#E5E7EB;
     --main-text-color:black;
     --logo-size:5rem;
}

img {
     max-width: 100%;
}

body {
     background-color:rgb(221, 221, 221);
     color: var(--main-text-color);
     font-family:Arial, Helvetica, sans-serif;
     font-size:1.1rem;
     line-height:1.2em;
     margin:0;
     padding:0;
}

.container {
     width:80%;
     overflow:hidden;
     margin:auto;
}

/* Main */
#main {
     display:flex;
     height:100vh;
}

/* Left main */
#main-left {
     flex:0 1 35vw;
     background-image: url("images/leaf-background.jpg");
     position:relative;
     text-align:center;
     color:white;
}

.logo {
     padding:30% 0;
}

.logo img{
     height:var(--logo-size);
     vertical-align: baseline;
}

.logo-text {
     font-family: NorseBold;
     font-size:var(--logo-size);
}

#photo-credits {
     position:absolute;
     bottom:0;
     font-size:0.8rem;
     left:0;
     right:0;
     margin-left:auto;
     margin-right:auto;
}

/* Right main */
#main-right {
     flex: 0 1 65vw;
     display:flex;
     flex-direction:column;
     justify-content: center;
}

#main-right > * {
     padding:1em 2em;
}

#hook-text {
     font-size:1.5rem;
     line-height:1.6rem;
     padding-bottom:1.5em;
}

.create-account-btn {
     width:200px;
     padding:0;
     margin: 1em 0 0 2em;
     border-radius:5px;
}

#log-in {
     padding-top:0;
}

#log-in > a {
     color:var(--background-tone-color);
     text-decoration:none;
}

/* Form */
#main-form {
     background:white;
}


